# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

backend/target
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings

*.class
*.jar
*.war
*.zip
*.tar.gz

frontend/*~
frontend/*.sw[mnpcod]
frontend/*.log
frontend/*.tmp
frontend/*.tmp.*
frontend/log.txt
frontend/*.sublime-project
frontend/*.sublime-workspace
frontend/.vscode/
frontend/npm-debug.log*

frontend/.idea/
frontend/.ionic/
frontend/.sourcemaps/
frontend/.sass-cache/
frontend/.tmp/
frontend/.versions/
frontend/coverage/
frontend/www/
frontend/node_modules/
frontend/tmp/
frontend/temp/
frontend/platforms/
frontend/plugins/
frontend/plugins/android.json
frontend/plugins/ios.json
frontend/$RECYCLE.BIN/
frontend/package-lock.json

*.DS_Store
Thumbs.db
frontend/UserInterfaceState.xcuserstate
.vscode

