<ion-header>
  <ion-toolbar>
    <ion-title>Active ToDos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-list>
    <ion-item *ngFor="let todo of allToDos">
      <ion-grid>
        <ion-row>
          <ion-col>
            {{todo.title}}
          </ion-col>
          <ion-col>
            <ion-button color="danger" *ngIf="!todo.done && !todo.archived" (click)="finish(todo);$event.stopPropagation();">Finish</ion-button>
            <ion-button color="success" *ngIf="todo.done && !todo.archived" (click)="archive(todo);$event.stopPropagation();">Archive</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-input type="text" placeholder="New Todo Title" [(ngModel)]="newToDo.title"></ion-input>
  </ion-item>
  <div padding>
    <ion-button (click)="addToDo()">Add New ToDo</ion-button>
  </div>

</ion-content>